* {
    margin: 0;
    padding: 0;
}

body {
    background-color: rgb(71, 73, 76);
    text-align: center;
    color: beige;
    font-family: 'Poppins', sans-serif;
}

#cuerpo {
    background-color: rgb(192, 212, 245);
    color: black;
    margin-top: 3vh;
}

img {
    border-radius: 10px;
}

span hr {
    max-width: 40vw;
    margin-left: auto;
    margin-right: auto;
}

h1 {
    font-size: 5em;
}

span {
    font-size: 0.5em;
}

.caja {
    position: relative;
    display: inline-block;
}

.texto1 {
    position: absolute;
    top: 1vh;
    left: 1%;
    color: rgb(5, 54, 146);
}

h5 {
    margin-top: 26%;
}