* {
    margin: 0;
    padding: 0;
}

body {
    background-color: rgb(39, 38, 37);
    text-align: center;
    color: beige;
    font-family: 'Poppins', sans-serif;
}

#cuerpo {
    background-color: oldlace;
    color: black;
    margin-top: 3vh;
}

span hr {
    max-width: 40vw;
    margin-left: auto;
    margin-right: auto;
}

h1 {
    font-size: 5em;
}